:root{
    background-color: #FFF9FE;
}

.blue{
    color: #01A2FF;
}

.red{
    color: #FF0000;
}

.yellow{
    color: #cece00;
}

.green{
    color: #00FF00;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 700px;
}

.logo_img{
    width: 100vw;
    padding: 1em;
    margin: 2em 0;
    max-width: 458px;
}

.textoTitulo{
    font-size: 30px;
    display: none;
}

.fields{
    margin: 0.5em;
    padding: 1em;
    width: 95vw;
    max-width: 458px;
    border: transparent;
    border-radius: 20px;
    box-shadow: 0px 7px 50px -20px #53223c;
    -webkit-box-shadow: 0px 7px 50px -20px #53223c;
}

.pink-font{
    color: #E8258E;
}

.fields__title,
.fields__create{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#field__title{
    font-size: 18px;
    font-weight: bold;
    color: rgb(77, 77, 77);
    margin: 0.8em;
}

.fields__textboxs{
    display: flex;
    flex-direction: column;
}

#field__email,
#field__pass{
    padding: 0.70em;
    margin: 0.25em 0;
    border-radius: 18px;
    border: 1px solid #5555555d;
}

.fields__remember{
    margin: 0.6em 0.2em;
    font-size: 17px;
    font-weight: 400;
}

#field__remember:hover,
label:hover,
#btnlogin{
    cursor: pointer;
}

#btnlogin{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: #FFF;
    background-color: #E8258E;
}

.fields__recovery{
    display: flex;
    justify-content: flex-end;
}

.fields__recovery > a{
    margin: 0.5em 1em;
    color: rgb(65, 64, 64);
}

.fields__recovery > a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(65, 64, 64);
}

.fields__create{
    margin: 2.5em 0 1em 0;
    font-weight: 600;
}

.link > a:hover{
    text-decoration: underline;
    text-decoration-color: #E8258E;
}

a > img{
    width: 35px;
    height: 35px;
}

.download{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    max-width: 458px;
}

.appleStore,
.googlePlay{
    margin: 0.7em 0;
    padding: 5px 0;
    border-radius: 50px;
    border: transparent;
    box-shadow: 0px 0px 30px -10px #53223c;
    -webkit-box-shadow: 0px 0px 30px -10px #53223c;
    align-items: center;
}

.appleStore > a,
.googlePlay > a{
    display: flex;
    justify-content: center;
    max-width: 458px;
    width: 200px;
    padding: 0.3em;
}

.appleStore,
.googlePlay{
    cursor: pointer;
}

div p{
    font-size: 12px;
    margin-left: 15px;
}

div span,
.link{
    font-size: 18px;
}

@media screen and (min-width: 375px){
    .fields__remember{
        margin-left: 1.6em;
    }
}

@media screen and (min-width: 768px){
    .container{
        display: flex;
        max-width: 1020px;
    }

    .download{
        flex-direction: row;
    }

    .appleStore,
    .googlePlay{
        margin: 0.7em;
    }
}