:root{
    background-color: #FFF9FE;
}

/*.container{
    width: 80vw;
    height: 80vh;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 2em;

    border: 1px solid blue;
}*/

.fields{
    margin: 1em;
    max-width: 458px;
}

.pink-font{
    color: #E8258E;
}

.fields__title{
    display: flex;
    justify-content: center;
}

#field__title{
    font-size: 18px;
    font-weight: bold;
    color: rgb(77, 77, 77);
    margin: 0.8em;
}

.fields__textboxs{
    display: flex;
    flex-direction: column;
}

#field__email,
#field__pass{
    padding: 0.50em;
    margin: 0.25em 0;
    border-radius: 18px;
    border: 1px solid #5555555d;
}

.fields__remember{
    margin: 0.3em 1em;
    font-size: 17px;
}

#btnlogin{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: #FFF;
    background-color: #E8258E;
}