:root{
    background-color: #FFF9FE;
}

/*.container{
    width: 80vw;
    height: 80vh;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 2em;

    border: 1px solid blue;
}*/

.logo_img{
    width: 100vw;
    padding: 1em;
    margin: 2em 0;
    max-width: 458px;
}

.fields {
    margin: 0.5em;
    padding: 1em;
    max-width: 458px;
    border: transparent;
    border-radius: 20px;
    box-shadow: 0px 7px 50px -20px #53223c;
    -webkit-box-shadow: 0px 7px 50px -20px #53223c;
}

.pink-font{
    color: #E8258E;
}

.fields__title,
.fields__create{
    display: flex;
    justify-content: center;
}

#field__title{
    font-size: 18px;
    font-weight: bold;
    color: rgb(77, 77, 77);
    margin: 0.8em;
}

.fields__textboxs{
    display: flex;
    flex-direction: column;
}

#field__email,
#field__pass{
    padding: 0.70em;
    margin: 0.25em 0;
    border-radius: 18px;
    border: 1px solid #5555555d;
}

.fields__remember{
    margin: 0.6em 0.2em;
    font-size: 17px;
    font-weight: 400;
}

#btnlogin{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: #FFF;
    background-color: #E8258E;
}

.fields__recovery > a{
    display: flex;
    margin: 0.5em 1em;
    justify-content: flex-end;
    color: rgb(65, 64, 64);
}

.fields__create > a{
    margin: 2.5em 0 1em 0;
    font-weight: 600;
}

a > img{
    width: 35px;
    height: 35px;
}

.download{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    max-width: 458px;
}

.appleStore,
.googlePlay{
    display: flex;
    justify-content: center;
    max-width: 458px;
    width: 200px;
    border-radius: 50px;
    margin: 0.7em 0;
    padding: 5px 0;
    border: transparent;
    box-shadow: 0px 0px 30px -10px #53223c;
    -webkit-box-shadow: 0px 0px 30px -10px #53223c;
    align-items: center;
}

div p{
    font-size: 12px;
    margin-left: 15px;
}

div span{
    font-size: 18px;
}